@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(355px);
            transform: translateY(355px);
  }
  10% {
    -webkit-transform: translateY(310px);
            transform: translateY(310px);
  }
  23% {
    -webkit-transform: translateY(268px);
            transform: translateY(268px);
  }
  36% {
    -webkit-transform: translateY(215px);
            transform: translateY(215px);
  }
  49% {
    -webkit-transform: translateY(168px);
            transform: translateY(168px);
  }
  62% {
    -webkit-transform: translateY(135px);
            transform: translateY(135px);
  }
  75% {
    -webkit-transform: translateY(83px);
            transform: translateY(83px);
  }
  87% {
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(355px);
            transform: translateY(355px);
  }
  10% {
    -webkit-transform: translateY(310px);
            transform: translateY(310px);
  }
  23% {
    -webkit-transform: translateY(268px);
            transform: translateY(268px);
  }
  36% {
    -webkit-transform: translateY(215px);
            transform: translateY(215px);
  }
  49% {
    -webkit-transform: translateY(168px);
            transform: translateY(168px);
  }
  62% {
    -webkit-transform: translateY(135px);
            transform: translateY(135px);
  }
  75% {
    -webkit-transform: translateY(83px);
            transform: translateY(83px);
  }
  87% {
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#phone {
  padding-top: 5rem;
}

@media screen and (min-width: 60rem) {
  #phone {
    padding: 0;
  }
}

.bgHelper {
  width: 15.5rem;
  height: 31rem;
  margin: 0 auto;
  border: 10px solid white;
  border-radius: 32px;
  background-color: #f5f3f7;
  -webkit-box-shadow: 14px 10px 42px 0px lightgray;
          box-shadow: 14px 10px 42px 0px lightgray;
  overflow: hidden;
}

@media screen and (min-width: 60rem) {
  .bgHelper {
    margin: 0;
  }
}

#topBar {
  position: relative;
  padding: 1.5rem 1rem 0.5rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10px 30px auto 10px;
      grid-template-columns: 10px 30px auto 10px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "arrow avatar name menu" "arrow avatar status menu";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to Left, #e942ff, #8838ff);
}

#topBar::before {
  position: absolute;
  content: "";
  height: 20px;
  top: 0;
  left: 50px;
  right: 50px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: white;
}

.arrow {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: arrow;
  position: relative;
  width: 20px;
  height: 20px;
}

.arrow::before, .arrow::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 2px;
  left: 4px;
  border-radius: 2px;
  background-color: white;
}

.arrow::before {
  top: 7px;
  -webkit-transform: rotateZ(-60deg);
          transform: rotateZ(-60deg);
}

.arrow::after {
  bottom: 7px;
  -webkit-transform: rotateZ(60deg);
          transform: rotateZ(60deg);
}

.avatar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: avatar;
  width: 30px;
  height: 30px;
}

.avatar img {
  width: 100%;
  border: 1px solid white;
  border-radius: 15px;
}

h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: name;
  justify-self: baseline;
  padding-left: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}

p {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: status;
  justify-self: baseline;
  padding-left: 10px;
  font-size: 0.6rem;
  color: #d89eff;
}

.menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: menu;
  position: relative;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}

.menu::before, .menu::after {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 1px;
  background-color: white;
}

.menu::before {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.menu::after {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

#chatWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(355px);
          transform: translateY(355px);
  -webkit-animation: fadeIn 50s forwards 3s;
          animation: fadeIn 50s forwards 3s;
}

#chatWindow .me {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 10px;
  padding: 7px 10px;
  max-width: 70%;
  border-radius: 8px;
  border-bottom-left-radius: 4px;
  background-color: #edeaf0;
  color: #9241c8;
}

#chatWindow .friend {
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 70%;
  margin-top: 10px;
  padding: 7px 10px;
  -webkit-box-shadow: 3px 3px 7px 0px lightgray;
          box-shadow: 3px 3px 7px 0px lightgray;
  border-radius: 10px;
  border-bottom-right-radius: 4px;
  background-color: white;
  color: #6e5d7e;
}

#chatWindow p {
  font-size: 0.5rem;
}

#chatWindow p:first-of-type {
  margin-top: 0;
}

#chatWindow .imageBox {
  margin-top: 10px;
  text-align: right;
}

#chatWindow .imageBox img {
  width: 45px;
  margin-left: 5px;
  border-radius: 8px;
}

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: unset;
  width: 80%;
  padding: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to Right, #e942ff, #8838ff);
  color: white;
}

.selection .radioBtn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content auto;
      grid-template-columns: -webkit-min-content auto;
      grid-template-columns: min-content auto;
  gap: 0.5rem;
  font-size: 0.8em;
  color: violet;
}

.selection .radioBtn input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  height: 0;
  opacity: 0;
}

.selection .radioBtn input:checked + .controlRadioBtn::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.selection .radioBtn .controlRadioBtn {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 10px;
  height: 10px;
  border: 1px solid #e570ff;
  border-radius: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.selection .radioBtn .controlRadioBtn::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.selection .labelRadioBtn {
  font-size: 0.6rem;
  color: white;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.selection h3 {
  font-size: 0.8rem;
  font-weight: 700;
}

#write {
  position: relative;
  height: 5rem;
  padding: 8px;
  padding-top: 18px;
  background-color: #f5f3f7;
  z-index: 5;
}

.inputBox {
  position: relative;
}

.inputBox input {
  width: 100%;
  height: 30px;
  padding: 8px;
  padding-left: 20px;
  border: none;
  border-radius: 15px;
  font-size: 0.6rem;
  background-color: white;
}

.submitBox {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: #3e2753;
}

.submitBox::before, .submitBox::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 3px;
  right: 6px;
  border-radius: 2px;
  background-color: white;
}

.submitBox::before {
  top: 7px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.submitBox::after {
  bottom: 7px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

#title {
  width: 19rem;
  margin: 0 auto;
  padding-top: 5rem;
  text-align: center;
}

@media screen and (min-width: 60rem) {
  #title {
    width: 30rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

#title h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #3e2753;
}

#title p {
  margin-top: 1.5rem;
  line-height: 1.5rem;
  color: #a39daa;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p,
input,
label,
span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

body {
  position: relative;
  overflow-x: hidden;
}

body::before {
  position: absolute;
  content: "";
  width: 74%;
  height: 47rem;
  top: -16rem;
  left: -7rem;
  border-bottom-left-radius: 30rem;
  border-bottom-right-radius: 30rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to Bottom, #e942ff, #8838ff);
  z-index: -1;
}

@media screen and (min-width: 30rem) {
  body::before {
    width: 65%;
    height: 47rem;
    top: -15rem;
    left: -7rem;
  }
}

@media screen and (min-width: 40rem) {
  body::before {
    width: 60%;
    height: 49rem;
    top: -15rem;
    left: -5rem;
  }
}

@media screen and (min-width: 50rem) {
  body::before {
    width: 60%;
    height: 50rem;
    top: -15rem;
    left: -4rem;
  }
}

@media screen and (min-width: 60rem) {
  body::before {
    width: 50%;
    height: 50rem;
    top: -12rem;
    left: -21rem;
  }
}

@media screen and (min-width: 70rem) {
  body::before {
    width: 29%;
    height: 52rem;
    top: -12rem;
    left: -9rem;
  }
}

@media screen and (min-width: 80rem) {
  body::before {
    width: 26%;
    height: 50rem;
    top: -12rem;
    left: -3rem;
  }
}

@media screen and (min-width: 100rem) {
  body::before {
    width: 29%;
    height: 56rem;
    top: -12rem;
    left: -5rem;
  }
}

body::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 30rem;
  right: -6rem;
  bottom: 0rem;
  border-top-left-radius: 30rem;
  border-top-right-radius: 30rem;
  background-color: #f7f6f9;
  z-index: -1;
}

@media screen and (min-width: 40rem) {
  body::after {
    width: 57%;
  }
}

@media screen and (min-width: 60rem) {
  body::after {
    width: 49%;
    height: 44rem;
    right: -14rem;
    bottom: 0rem;
  }
}

body main {
  padding-bottom: 5rem;
}

@media screen and (min-width: 60rem) {
  body main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
  }
}

@media screen and (min-width: 70rem) {
  body main {
    gap: 7rem;
  }
}

@media screen and (min-width: 80rem) {
  body main {
    gap: 10rem;
  }
}
/*# sourceMappingURL=main.css.map */